/*
 * HTML5 Boilerplate
 */
@import '_h5bp';

/*
 * Google Material visual style guide styles
 */
@import 'components/components';
@import 'components/material';

/*
 * Main style
 * @todo Split the correct files
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-height: 100%;
  position: relative;

  .open {
    overflow: hidden;
  }
}

// Overwrite classes

.md-whiteframe-z1 {
  height: 50px;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(244,67,54);
  color: white;
}

// The success screen style

.success-screen {
  margin-top: 15%;
  text-align: center;

  .done {
    height: 150px;
    margin-bottom: 50px;
  }
}

// App bar style

.app-bar {
  background-color: #4285f4;
  display: block;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  button {
    background-color: transparent;
    background-image: none;
    border: 0;
    display: inline-block;
    height: 60px;
    padding: 0;
    transition: background-color .2s ease-out;
    width: 60px;
    -webkit-tap-highlight-color: transparent;

    img {
      height: 24px;
      width: 24px;
    }
  }

  button:hover {
    background-color: rgba(255, 255, 255, .1);
  }

  button:focus {
    background-color: rgba(255, 255, 255, .2);
    outline: 0;
  }

  button:active {
    background-color: rgba(255, 255, 255, .4);
  }

  .logo {
    color: #fefefe;
    display: initial;
    flex: 1;
    float: none;
    font-size: 2em;
    font-weight: 300;
    line-height: 60px;
    margin: 0 16px;
    max-width: none;
    padding: 0;
    text-align: center;

    a {
      color: inherit;
      font-weight: normal;
      text-decoration: none;
    }

    .app-bar-actions {
      display: flex;
      flex-direction: row;
      z-index: 2;
    }
  }
}

.app-bar-container {
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  transform: translate(250px, 0);
}

// Promotion layer style

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

.app-bar,
main {
  transition: transform 0.3s ease-out;
}

// App container/layout by Google Material

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px;
  min-height: 100%;
}

// First screen, home

form {
  margin-top: 30px;

  input {
    width: 100%;
  }

  .bar {
    width: 100%;
  }

  .error {
    color: #F44336;
  }

  .highlight {
    width: 100%;
  }

  textarea {
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
    min-height: 150px;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #999;
      font-size: 18px;
      font-weight: normal;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #999;
      font-size: 18px;
      font-weight: normal;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #999;
      font-size: 18px;
      font-weight: normal;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #999;
      font-size: 18px;
      font-weight: normal;
  }
}

// Fixed footer, emulate mobile app

footer {
  align-items: center;
  background-color: #4285f4;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  width: 100%;

  .control-left {
    a {
      margin-left: 3px;
      width: 150px;
    }

    order: 1;
  }

  .control-middle {
    order: 2;
  }

  .control-right {
    a {
      margin-right: 3px;
      width: 150px;
    }

    order: 3;
  }
}

// Media queries for responsive layout

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
  transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button {
    .menu {
      display: none;
    }
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}
